@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <p class="my-3">LinkedIn</p>

        <a href="https://www.linkedin.com/in/enis-ertanrikulu/"><i class="fa fa-linkedin"></i></a> 
        <p class="my-3">Github</p>
        <a href="https://www.github.com/enisertdev"><i class="fa fa-github"></i></a>
    </div>
</div>