<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/footer/css/style.css" rel="stylesheet" />
<footer class="footer_area section_padding_130_0">
    <div class="container">
        <div class="row">
            <!-- Social Media Links -->
            <div class="col-12 col-md-4">
                <div class="single-footer-widget">
                    <h5 class="widget-title">Follow Me</h5>
                    <div class="footer_social_area">
                        <a href="https://www.linkedin.com/in/enis-ertanrikulu/" title="LinkedIn">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://www.github.com/enisertdev" title="GitHub">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- About Section -->
            <div class="col-12 col-md-4">
                <div class="single-footer-widget">
                    <h5 class="widget-title">About</h5>
                    <ul class="footer_menu">
                        <li><a asp-page="/Contact">About Me</a></li>
                        <li><a href="#">Terms &amp; Policy</a></li>
                    </ul>
                </div>
            </div>

            <!-- Contact Section -->
            <div class="col-12 col-md-4">
                <div class="single-footer-widget">
                    <h5 class="widget-title">Contact</h5>
                    <ul class="footer_menu">
                        <li><a href="#">Email Us</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>