@model Product
<form method="post">
    <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name"></span>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price"></span>
        <input asp-for="CategoryId" value ="1" hidden/>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>