@using Imagine.DataAccess.Entities
@model IEnumerable<Product>

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Create"><button class="btn btn-primary">Create</button></a>
}

<div class="row">
    @foreach (Product product in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="~/image/product.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>
