@using Imagine.DataAccess.Entities
@model IEnumerable<Product>

<div class="container-fluid bg-transparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        @foreach (Product product in Model)
        {
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">@product.Name</span>
                            <span class="float-end price-hp">@product.Price.ToString("c")</span>
                        </div>
                        <h5 class="card-title">
                            @product.Description
                        </h5>
                        <div class="text-center my-4">
                            <a asp-action="Details" class="btn btn-warning" asp-route-id="@product.Id">Check Offer</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
