@model IEnumerable<Imagine.DataAccess.Entities.Category>

@foreach (var category in Model)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ProductsByCategory","Product" , new{categoryId = category.Id, area= ""})">@category.Name</a>
    </li>

}   