@model IEnumerable<Imagine.DataAccess.Entities.Category>

@foreach (var category in Model)
{
    <a class="dropdown-item" href="@Url.Action("ProductsByCategory","Product",new {categoryId = category.Id})">@category.Name</a>
}   