<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>Your order has been taken, thanks for using Imagine</p>
</div>
<div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
    <a asp-controller="Home" asp-action="Index">
        <i class="fas fa-arrow-left mr-2"></i> Continue Shopping
    </a>
</div>
<div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
    <a asp-controller="Order" asp-action="Index">
        <i class="fas fa-arrow-left mr-2"></i> Track your order
    </a>
</div>