
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/landing/css/style.css" rel="stylesheet">
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Imagine Website!!</h1>
    <p class="lead">Welcome to Imagine website.</p>
    <p class="lead">
      <a asp-controller="User" asp-action="Register" class="btn btn-lg btn-secondary">You can register here.</a>
    </p>
  </main>
</div>
</body>
</html>
