<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geri Sayım ve Yönlendirme</title>
    <style>
        #countdown {
            font-size: 2em;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Thank you for confirming</h1>
<p>You have successfully confirmed your email.</p>
<p>You will be redirected in <span id="countdown">4</span> seconds.</p>

<script>
        let countdownElement = document.getElementById('countdown');
        let count = 4;

        const intervalId = setInterval(() => {
            count--;
            countdownElement.textContent = count;

            if (count <= 0) {
                clearInterval(intervalId);
                window.location.replace('@Url.Action("Index", "Home")');
            }
        }, 1000); 
    </script>
</body>
</html>